@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em; /*original f.s. 30px */
}
h2 {
    font-size: 1.5em;  /*original f.s. 24px */
}
h3 {
	font-size: 1.125em; /*original f.s. 18px */
}
h4 {
	font-size: 0.75em; /*original f.s. 12px */
}

p {
	font-size: 0.875; /*original f.s. 14px */
	line-height:1.3125; /*original l.h. 21px */
   
}

/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	border-bottom: 3px solid #77a466;
	text-align: center;
	width: 100%;
}

header h1 {
	float: left;
	margin: 0;
	padding: 38px 28px 28px 28px;
	border-bottom: 3px solid #77a466;
	width: 100%;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em; 	/*original f.s. 14px */
	padding: 10px 0;
	list-style: none;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

li a:hover {
	color: #2d4026;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em; /*original f.s. 16px */
	line-height: 1.5625;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}
.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em; /*original f.s. 16px */
	line-height: 1.3125; 
}

.address {
	font-size: 1em; /*original f.s. 16px */
	line-height: 1.5;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	border-top: 3px solid #eee;
	width: 100%;
	
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1.56em; /*original f.s. 25px */
}

/********************  MEDIA QUERIES ************************/ 

	/* Tablet styles here */
@media all and (min-width:768px) {
	.bottom-section {
		justify-content: space-between;
		align-items: flex-start;
		border-bottom: 1px solid #eee;
	}

	.section-one,
	.section-two,
	.section-three {
		flex-basis: 30%;
		border-top: none;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px;
	}
}


	/* Desktop styles here */
@media all and (min-width:1200px) {
	header {
		justify-content: space-between;
	}

	header h1 {
		border-bottom: none; 
		width: 30%;
		text-align: left;
	}

	header nav {
		width: 40%;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
	}

}